@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;900&display=swap');
@import "tailwindcss";


@font-face {
  font-family: 'fc';
  src: url('./assets/fonts/FIGHTT3_.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'grandmaster';
  src: url('./assets/fonts/Grandmaster-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'TT';
  src: url('./assets/fonts/TT Trailers Trial Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@theme{
    --font-fightclub: fc;
    --font-barlow: Barlow;
    --font-grandmaster: grandmaster;
    --font-tt: TT;
    --color-bloodRed: #A32B2B;
}

:root{
    background-color: black;
    color:white;
}


::-webkit-scrollbar {
  width: 2px; 
  height: 3px; 
}

::-webkit-scrollbar-track {
  background: transparent
}

::-webkit-scrollbar-thumb {
  background-color: rgb(88, 88, 88); 
  border-radius: 20px;   
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(88, 88, 88); 
}

